/*Universal Styles*/
button,
input,
textarea {
  box-shadow: none;
  outline: 0;
  border: 0;
}
img {
  font-size: 0;
  vertical-align: top;
}

/* My CSS */
* {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body {
  line-height: 1.5;
}
a {
  text-decoration: none;
  display: inline-block;
}
.padding {
  padding: 5rem 0;
}
/* Buttons */
.btn {
  padding: 0.8rem 2rem;
  background: transparent;
  border-radius: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 2rem;
  letter-spacing: 0.05rem;
  color: #555;
  cursor: pointer;
}
.btn-primary {
  background: rgb(32, 195, 114);
  border: none;
  color: #fff;
}
.btn-primary:hover {
  background: rgba(32, 195, 114, 0.7);
}
.btn-secondary {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.btn-secondary:hover {
  border: 2px solid rgb(32, 195, 114);
  background: rgb(32, 195, 114);
  color: #fff;
}

/* Responsive Image */
.img-responsive {
  width: 100%;
  height: auto;
}

/* Main Wrapper */
.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

/* Main Header */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 0.6rem 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  font-size: 2rem;
  color: #fff;
}
.logo:hover {
  color: rgb(32, 195, 114);
}
.menu-item {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: rgb(32, 195, 114);
  margin-left: 2rem;
}
.menu-item:hover {
  color: #fff;
}

/* Hero Section */
.hero {
  background: linear-gradient(to right top, #4a4771 0%, #7c3875 100%);
  padding: 15rem 0 5rem 0;
}
.col {
  width: 50%;
}
.hero-heading {
  font-size: 3rem;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase;
}
.col1 {
  padding-right: 3rem;
}
.col2 {
  border-left: 1px solid rgba(0, 0, 0, 0.6);
  padding-left: 2.5rem;
}
.hero-description {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}

/* Magan Section */
.magna-heading {
  font-size: 2.3rem;
  color: #555;
  margin-bottom: 2rem;
}
.magna-description {
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 400;
  color: #777;
}
.magna-list {
  padding-left: 2rem;
}
.magna-item {
  line-height: 3;
  font-size: 1.2rem;
  color: #777;
  list-style-image: url("../media/right.png");
  padding-left: 0.5rem;
}

/* Article Section */
.article {
  background: #f5f5f5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
.article-container {
  background: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 3.3rem;
}
.article-img {
  width: 40%;
}
.article-description {
  width: 60%;
  padding: 0 3rem;
}
.article-heading {
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 2rem;
}
.article-text {
  font-size: 1.1rem;
  color: #888;
  line-height: 2.3;
}
.text-center {
  text-align: center;
}

/* Contact */
.contact-heading {
  font-size: 2rem;
  font-weight: 700;
  color: #555;
  margin-bottom: 2rem;
}
.contact .flex {
  align-items: flex-start;
}
.contact .col2 {
  border-left: 0;
}
.contact .col1 {
  border-right: 1px solid rgba(0, 0, 0, 0.6);
}
.contact-text {
  color: #555;
  line-height: 2.3;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.8rem 1rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.form-control::placeholder {
  color: #c3c3c3;
}
.input-field {
  width: 48%;
}
.contact-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.contact-list-item i {
  font-size: 1.2rem;
  color: rgb(32, 195, 114);
  width: 2rem;
}
.contact-list-item a,
.contact-list-item address {
  color: #555;
  /* font-weight: 300; */
  margin-left: 0.5rem;
}
.address {
  align-items: flex-start;
}

/* Footer */
.footer {
  background: #f5f5f5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #888;
}

@media all and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .col,
  .article-img,
  .article-description {
    width: 100%;
  }
  .article-description {
    padding: 3rem;
  }
  .col1 {
    padding-right: 0rem;
    margin-bottom: 3rem;
  }
  .col2 {
    border-left: 0;
    padding-left: 0;
  }
  .contact .col1 {
    border-right: 0;
  }
}
